/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  background: #eee;
}

.center {
  margin: 0 auto;
}
.center-content {
  margin: 0 auto;
  text-align: center;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}

.App {
  margin: 2rem auto;
}

.content-column {
  width: 70vw;
  margin-left: 25vw;
  margin-right: 5vw;

  min-height: 90vh;
}



/* Nav */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20vw;
  padding: 10px;
  overflow: auto;

  flex-direction: column;
  justify-content: space-between;
}

.nav .info {
  height: 60vh;

  flex-direction: column;
  justify-content: space-around;

  font-size: 1.2rem;
}

.nav-header h1 {
  font-size: 1.9rem;
}
.nav-header h2 {
  font-size: 1.2rem;
}

nav {
  margin: 0;
  padding: 0;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul li {
  margin: 0;
  padding: 0;
}

.nav .nav-footer {
  margin: 0;
  padding: 0;
  padding-left: 3rem;

  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}



/* Portfolio */
.portfolio {
  margin: 0 auto;
  text-align: center;
}

.portfolio-image {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.portfolio-image:first-child {
  margin-top: 0;
}
.portfolio-image:last-child {
  margin-bottom: 0;
}

.portfolio-image .portfolio-link {
  width: 100%;
  height: 100%;
}

.portfolio-image .portfolio-link:hover img {
  opacity: .6;
}


/* Portfolio Item */
.portfolio-item {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.portfolio-item:first-child {
  margin-top: 0;
}
.portfolio-item:last-child {
  margin-bottom: 0;
}

.portfolio-item-image {
  cursor: pointer;
}



/* Resume */
.resume {
  height: 100%;
  width: 100%;
  font-size: .9rem;

  padding: 0 5rem;
}

.resume-header {
  margin: 2.5rem 0;
}

.resume-header h1 {
  font-size: 2.25rem;
}
.resume-header h2 {
  margin: 1rem 0;
  font-size: 1.5rem;
}

.resume-contacts {
  justify-content: space-between;
}

.resume-experience {
  grid-template-columns: 1fr 6fr;
  grid-column-gap: 2rem;
}
.column-left {
  text-align: right;
  margin: 2rem 0;
}
.column-right {
  text-align: left;
  margin: 1rem;
}


/* Employment */
.employment {
  padding: 1.5rem 0;
}
.employment:first-child {
  padding-top: 0;
}
.employment:last-child {
  padding-bottom: 0;
}
.employment .employment-dates {
  font-size: .78rem;
}
.employment h1 {
  font-size: 1.2rem;
}
.employment h2 {
  font-size: 1rem;
  margin: .5rem 0;
}
.employment-brands {
  margin-top: .75rem;

}
.employment-brands span {
  display: inline-block;
  margin-right: .5rem;
}
.employment-brands span::after {
  content: '';
  display: inline-block;
  width: .25rem;
  height: .25rem;
  border-radius: 50%;
  background-color: #333;
  margin-left: .5rem;
  margin-bottom: .15rem;
}
.employment-brands span:last-child {
  margin-right: 0;
}
.employment-brands span:last-child::after {
  display: none;
}



/* Contact */
.contact {
  height: 100%;
  width: 100%;
  font-size: .9rem;

  padding: 7.5rem 5rem;
}
.contact h1 {
  font-size: 2rem;
}

.contact-content {
  margin: 2.5rem;
  width: 500px;

  justify-content: space-between;
}
.contact h2 {
  font-size: .8rem;
  margin-bottom: 1rem;
  color: #888;
}